body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkgray: #a0a0a0;
  --color-mediumorchid: #d44ce1;

  /* Border radiuses */
  --br-6xl: 25px;
}
