@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.following-user{
  display: flex;
  flex-direction: row;
}

.following-page-inner {
  border-radius: 50%;
  background-color: var(--color-darkgray);
  width: 92px;
  height: 88px;
}

.profile-name {
  font-weight: 500;
  display: inline-block;
  width: 227px;
}

.follow,
.username {

  font-size: var(--font-size-xl);
  font-weight: 100;
}
.follow {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1355px;
  left: 853px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  -webkit-text-stroke: 1px #000;
}

.following,
.home,
.logout,
.profile {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 332px;
  left: 126px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.following:hover,
.home:hover,
.logout:hover,
.profile:hover {
  color: var(--color-mediumorchid);
}
.following,
.logout,
.profile {
  top: 415px;
  left: 109px;
}
.following,
.logout {
  top: 502px;
  left: 74px;
}
.logout {
  top: 585px;
  left: 101px;
}

.following-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2051px;
  overflow: hidden;
}

.rectangle-icon {
  position: absolute;
  top: 311px;
  left: 59px;
  border-radius: var(--br-6xl);
  width: 239px;
  height: 344px;
}
.weezerlogo-1-icon {
  position: absolute;
  top: 69px;
  left: 76px;
  width: 208px;
  height: 201px;
  object-fit: cover;
}


.background-1-icon {
  position: absolute;
  top: 0;
  left: -11px;
  width: 2038px;
  height: 2128px;
  object-fit: cover;
}


.following-page-child {
  position: absolute;
  top: 20px;
  left: 371px;
  padding: 20px;
  border-radius: var(--br-6xl);
  width: 1048px;
  height: 1991px;
  background-color: white;
}
.following-page-item {
  position: absolute;
  top: 1335px;
  left: 496px;
  border-radius: 50%;
  background-color: var(--color-darkgray);
  width: 92px;
  height: 88px;
}

.following-page {
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
